/*main*/
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);


body {
    background-color: #f4f4f4;
    margin: auto;
}

p{
    font-size: 1.2em;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.3em;
}

.break {
    border: 1px solid rgba(200, 200, 200, 0.7);
    margin-top: 50px;
}

.headers {
    margin: 5px;
    padding: 5px;
    font-family: 'Josefin Slab', serif;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

/*navbar*/

#navbar {
    width: 100%;
    height: 45px;
    text-align: right;
    background: #f4f4f4;
    border-bottom: 2px solid rgba(200, 200, 200, 0.7);
    top: 0;
    position: fixed;
    clear: both;
    z-index: 1000;
}

#navbar ul {
    margin-right: 200px;
    margin-top: 14px;
}

#navbar li {
    list-style: none;
    display: inline;
}

#navbar li:before {
    content: " / ";
    color: #000;
}

#navbar li:first-child:before {
    content: none;
}

#navbar a {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #000;
}

#navbar a:hover {
    color: #009999;
    border-bottom: 2px solid;
}

/*students*/

#students {
    width: 80%;
    margin: auto;
}

.group {
    width: 100%;
    height: 800px;
    border-top: 1px solid rgba(200, 200, 200, 1.0);
    border-bottom: 1px solid rgba(200, 200, 200, 1.0);
    background: url('../images/DSC_6653.JPG') no-repeat center top;
    background-size: cover;
    background-position: 0 15px;

}

/*about*/

.timeline {
    position:relative;
    height: 240px;
    width: 989px;
    margin: auto;
    background-image: url('../images/timeline_bg.png');
    z-index: 1;
}

.timeline li{
    position:absolute;
    list-style:none;
    height:240px;
    width:100px;
    left:0;
}

.timeline li p{
    position:absolute;
    display:block;
    text-align:center;
    font-size: 15px;
    bottom:0;
    width:100%;
}

.timeline li span{
    position:absolute;
    text-align: center;
    margin-left:-90px;
    background:#fff;
    border-radius:10px;
    padding:10px;
    width:150px;
    left:50%;
    bottom:60px;
    visibility:hidden;
    color:#009999;
    font-family: 'roboto', sans-serif;

}
.timeline li span:after{
    display:block;
    position:absolute;
    bottom:-10px;
    left:70px;
    background:transparent;
}

.timeline li.week1{left:-10px;}
.timeline li.week3{left:91px;}
.timeline li.week4{left:195px;}
.timeline li.week5{left:290px;}
.timeline li.week6{left:388px;}
.timeline li.week8{left:500px;}
.timeline li.week9{left:600px;}
.timeline li.week10{left:700px;}
.timeline li.week11{left:800px;}
.timeline li.week12{left:900px;}


.timeline li:hover{
    cursor:default;
    color:#009999;
}

.timeline li:hover span{
    opacity:1.0;
    visibility:visible;
}

#title {
    margin-top: 65px;
}
/*contact*/

/*footer*/

#footer {
    height: 10px;
    width: 100%;
    background-color: #119999;
}

/*gallery*/
#gallery {
    height: 600px;
    width: 100%;
}

#student {
    position: relative;
    float: left;
    background-image: url('../images/placeholderstudent.png');
    height: 250px;
    width: 200px;
}
