/*main*/
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);


body {
    background-color: #f4f4f4;
    margin: auto;
}

p{
    font-size: 1.2em;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.3em;
}

.headers {
    margin: 20px;
    font-family: 'Josefin Slab', serif;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

/*navbar*/

#navbar {
    margin-top: 15px;
    width: 85%;
    text-align: right;
    margin-bottom: 15px;
}

#navbar li {
    list-style: none;
    display: inline;
}

#navbar li:before {
    content: " / ";
    color: #000;
}

#navbar li:first-child:before {
    content: none;
}

#navbar a {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #000;
}

#navbar a:hover {
    color: #009999;
    border-bottom: 2px solid;
}

/*students*/

#students {
    width: 80%;
    margin: auto;
}

.group {
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-size: 100% auto;
    background: url('photo-1.JPG') no-repeat center top;;
}

/*about*/

.timeline {
    position:relative;
    height: 240px;
    width: 989px;
    margin: auto;
    background-image: url('timeline_bg.png');
}

.timeline li{
    position:absolute;
    list-style:none;
    height:240px;
    width:100px;
    left:0;
}

.timeline li p{
    position:absolute;
    display:block;
    text-align:center;
    font-size: 15px;
    bottom:0;
    width:100%;
}

.timeline li span{
    position:absolute;
    text-align: center;
    margin-left:-90px;
    background:#fff;
    border-radius:10px;
    padding:10px;
    width:150px;
    left:50%;
    bottom:60px;
    visibility:hidden;
    color:#009999;
    font-family: 'roboto', sans-serif;

}
.timeline li span:after{
    display:block;
    position:absolute;
    bottom:-10px;
    left:70px;
    background:transparent;
}

/*gotta figure out these once the icons are designed*/
.timeline li.week1{left:-10px;}
.timeline li.week3{left:91px;}
.timeline li.week4{left:195px;}
.timeline li.week5{left:290px;}
.timeline li.week6{left:388px;}
.timeline li.week8{left:500px;}
.timeline li.week9{left:600px;}
.timeline li.week10{left:700px;}
.timeline li.week11{left:800px;}
.timeline li.week12{left:900px;}


.timeline li:hover{
    cursor:default;
    color:#009999;
}
.timeline li:hover span{
    opacity:1.0;
    visibility:visible;
}
/*contact*/

/*footer*/

#footer {
    height: 10px;
    width: 100%;
    background-color: #119999;
}
